@{
    ViewData["Title"] = "Drzewa";
}

<div class="col-lg-12 mt-1">
    <h2>Drzewo</h2>
    <a id="btnClear" class="btn btn-info mb-2 mt-2">Wyczyść</a>
    <a id="btnBFS" class="btn btn-info mb-2 mt-2">BFS</a>
    <a id="btnDFS_PRE" class="btn btn-info mb-2 mt-2">DFS_PRE</a>
    <a id="btnDFS_IN" class="btn btn-info mb-2 mt-2">DFS_IN</a>
    <a id="btnDFS_POST" class="btn btn-info mb-2 mt-2">DFS_POST</a>
    
    <br />
    <canvas id="myCanvas" width="800" height="350" style="border: 2px dashed black"></canvas>
</div>

<script src="~/js/tree.js" asp-append-version="true"></script>